body {
	overflow: hidden;
	height: 100%;
}
.wrap {
	@include d_f(flex);
	flex-direction: column;
	height: 100%;
	&::before {
		content: "";
		position: fixed;
		right: 0;
		bottom: 0;
		display: block;
		width: 130%;
		height: 250%;
		background: radial-gradient(circle at center, #2a2f89, #040000);
	}
}
.content {
	overflow-x: hidden;
	position: relative;
	@include d_f(flex, center, center);
	width: 100%;
	height: 100%;
	padding: 0 20px;
	@at-root .--chating & {
		overflow-y: hidden;
		width: calc(100% - 240px);
		height: calc(100% - 100px);

		@include mw_xs {
			width: 100%;
		}
	}

	@include mw_xs {
		align-items: flex-start;
	}
}

.header {
	overflow: hidden;
	position: relative;
	flex: none;
	@include d_f(flex, center);
	padding: 10px 20px;
	z-index: 1;
}
.nav {
	@include d_f(flex, center);
	margin: auto;
	@extend %transition;
	.--chating & {
		position: fixed;
		top: 0;
		right: 0;
		width: 240px;
		flex-direction: column;
		height: 100%;
		padding-top: 10px;
		background-color: rgba(0, 0, 0, 1);
		transform: translateX(0);
		@include mw_xs {
			transform: translateX(100%);
		}
	}
	@include mw_lg {
		position: fixed;
		bottom: 0;
		right: 0;
		width: 240px;
		flex-direction: column;
		height: 100%;
		padding-top: 10px;
		transform: translateX(100%);
		background-color: rgba(0, 0, 0, 1);
		@at-root .--active & {
			transform: translateX(0);
		}
		// background-color: #2a2f89;
	}
	// .nav_menu
	&_menu {
		@include d_f(flex);
		height: 100%;
		.--chating & {
			width: 100%;
			border-top: 1px solid hsla(0, 0%, 100%, 0.2);
			flex-direction: column;
			align-items: flex-start;
			height: auto;
		}
		@include mw_lg {
			width: 100%;
			border-top: 1px solid hsla(0, 0%, 100%, 0.2);
			flex-direction: column;
			align-items: flex-start;
			height: auto;
		}
		// .nav_menu_item
		&_item {
			@include d_f(inline-flex, center, center);
			font-size: 14px;
			filter: invert(1);
			@extend %hand;
			.--chating & {
				justify-content: flex-start;
				width: 100%;
				padding: 12px;
			}
			@include mw_lg {
				justify-content: flex-start;
				width: 100%;
				padding: 12px;
			}
			i {
				margin-right: 8px;
			}
			& + & {
				margin-left: 30px;
				.--chating & {
					margin-left: 0;
				}
				@include mw_lg {
					margin-left: 0;
				}
			}

			@include hoverHandler {
				filter: invert(76%) sepia(27%) saturate(897%) hue-rotate(161deg)
					brightness(102%) contrast(102%);
			}
		}
	}

	// .nav_btn
	&_btn {
		position: relative;
		display: none;
		width: 30px;
		height: 30px;
		margin-left: auto;

		span {
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			display: inline-block;
			width: 30px;
			height: 3px;
			margin: auto;
			border-radius: 100px;
			background-color: rgba(255, 255, 255, 1);
			@extend %transition;
			&::before,
			&::after {
				content: "";
				position: absolute;
				left: 0;
				width: 30px;
				height: 3px;
				background-color: #fff;
				border-radius: 100px;
				@extend %transition;
			}
			&::before {
				top: -10px;
			}
			&::after {
				bottom: -10px;
			}
			@at-root .--active & {
				background-color: rgba(255, 255, 255, 0);
				&::before {
					top: 50%;
					transform: rotate(45deg) translateY(-50%);
				}
				&::after {
					bottom: 50%;
					transform: rotate(-45deg) translateY(50%);
				}
			}
		}
		@include hoverHandler {
			span {
				background-color: #70e2ff;
				&::before,
				&::after {
					background-color: #70e2ff;
				}
				@at-root .--active & {
					background-color: rgba(255, 255, 255, 0);
				}
			}
		}
		@at-root .--chating & {
			display: none;
			@include mw_xs {
				display: block;
			}
		}
		@include mw_lg {
			display: block;
		}
	}

	// .nav_lists
	&_lists {
		overflow-y: auto;
		display: none;
		height: 100%;
		padding: 0 10px;
		// .nav_lists_item
		&_item {
			@include d_f(flex, center);
			padding: 12px;
			font-size: 14px;
			background-color: rgba(255, 255, 255, 0.1);
			color: #fff;
			margin-top: 5px;
			border-radius: 4px;
			@extend %hand;
			@extend %transition;
			.icon_chat {
				margin-right: 10px;
			}
			.icon_edit {
				margin-left: auto;
				@include hoverHandler {
					filter: invert(1);
				}
			}
			.icon_delete {
				margin-left: 5px;
				@include hoverHandler {
					filter: invert(1);
				}
			}
			i:not(.icon_chat) {
				filter: invert(51%) sepia(0%) saturate(15%) hue-rotate(197deg)
					brightness(94%) contrast(87%);
				@extend %transition;
			}
		}

		.--chating & {
			display: block;
			width: 100%;
		}
		@include mw_lg {
			display: block;
			width: 100%;
		}
	}
}
.logo {
	@include d_f(flex, center);
	img:nth-child(1) {
		flex: none;
		width: 40px;
		margin-right: 10px;
	}
	img:nth-child(2) {
		flex: none;
		width: 100px;
	}
}
.add_btn {
	position: relative;
	display: none;
	width: 100%;
	max-width: 160px;
	height: 50px;
	margin: 7px auto 10px 12px;
	padding-left: 20px;
	background-color: #fff;
	color: #7c7b7b;
	border-radius: 8px;
	@extend %transition;
	@include mw_lg {
		@include d_f(flex, center);
	}
	@at-root .--chating & {
		@include d_f(flex, center);
		margin: auto;
		@include mw_xs {
			margin: 7px auto 10px 12px;
		}
	}
	@include hoverHandler {
		background-color: #71e1ff;
		color: #fff;
	}
	@at-root .--active & {
		@include d_f(flex, center);
	}
}
.normal_inp {
	position: relative;
	display: block;
	width: 100%;
	height: 40px;
	max-width: 657px;
	margin-left: auto;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 4px;
	border: 1px solid transparent;
	@include hoverHandler {
		border-color: #eee;
	}
	@at-root .--chating & {
		margin-right: auto;
	}
	@include mw_lg {
		margin-right: auto;
	}
	input {
		width: 100%;
		height: 100%;
		padding-left: 12px;
		color: white;
		&::placeholder {
			color: white;
		}
	}
	i {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 20px;
		margin: auto 0;
		filter: invert(1);
	}
}
.ailife {
	// .ailife_title
	&_title {
		width: 100%;
		max-width: 657px;
		margin-left: auto;
		margin-bottom: 50px;
		color: #fff;
		font-size: 32px;
		@extend %transition;
		@include mw_sm {
			font-size: 24px;
		}
		@include mw_lg {
			margin-right: auto;
		}
		@include mw_xs {
			margin-bottom: 25px;
			text-align: center;
			font-size: 16px;
		}

		@at-root .--chating & {
			margin-left: 0;
			transform: translateX(calc(-100% - 50px));
		}
	}
	// .ailife_info
	&_info {
		position: relative;
		width: 100%;
		@at-root .--chating {
			flex: none;
		}
	}
	// .ailife_pic
	&_pic {
		width: 100%;
		@extend %transition;
		@at-root .--chating & {
			transform: translateX(120%);
		}
		@include mw_lg {
			display: none;
		}
	}
	// .ailife_input
	&_input {
		position: relative;
		top: 0;

		@at-root .--chating & {
			width: calc(100% - 290px);
			animation: inputAni 1s forwards;
			@extend %transition;
			@include mw_xs {
				width: calc(100% - 40px);
				padding-right: 0;
			}
		}
		@keyframes inputAni {
			0% {
				opacity: 1;
			}
			70% {
				transform: translateX(calc(-100% - 20px));
				opacity: 0;
			}
			90% {
				position: fixed;
				opacity: 0;
				top: 100%;
				transform: translateY(-100%);
			}
			100% {
				position: fixed;
				top: 100%;
				opacity: 1;
				transform: translateY(calc(-100% - 20px));
			}
		}
		// @keyframes inputAni2 {
		// 	0% {
		// 		position: fixed;
		// 		top: 100%;
		// 		opacity: 1;
		// 		margin-top: 0;
		// 		transform: translateY(calc(-100% - 20px));
		// 	}
		// 	1% {
		// 		position: relative;
		// 		opacity: 0;
		// 		top: 100%;
		// 		margin-top: 50px;
		// 		transform: translateY(-100%);
		// 	}
		// 	2% {
		// 		transform: translateX(calc(-100% - 20px));
		// 		opacity: 1;
		// 	}
		// 	3% {
		// 		transform: translateX(calc(-100% - 20px));
		// 		opacity: 1;
		// 	}
		// 	100% {
		// 		opacity: 1;
		// 	}
		// }
		p {
			max-width: 657px;
			margin-top: 12px;
			margin-left: auto;
			padding-left: 12px;
			font-size: 12px;
			color: #b3b3b3;
			@at-root .--chating & {
				margin-right: auto;
			}
			@include mw_lg {
				margin-right: auto;
			}
		}
	}
	// .ailife_note
	&_note {
		@include d_f(flex);
		max-width: 700px;
		margin-top: 50px;
		margin-left: auto;
		@extend %transition;
		@include mw_lg {
			margin-right: auto;
		}
		@include mw_xs {
			flex-wrap: wrap;
			margin-top: 25px;
		}

		@at-root .--chating & {
			transform: translateX(calc(-100% - 20px));
			margin-left: 0;
		}
		// .ailife_note_info
		&_info {
			@include d_f(flex);
			flex-direction: column;
			width: calc(100% / 3);

			@include mw_xs {
				width: 100%;
				margin-bottom: 20px;
			}
			& + & {
				margin-left: 20px;
				@include mw_xs {
					margin-left: 0;
				}
			}

			.title {
				position: relative;
				width: 100%;
				height: 47px;
				padding-left: 20px;
				line-height: 47px;
				font-size: 16px;
				color: #fff;
				text-align: center;
				background: linear-gradient(to left, #007cf2 0%, #753a92 100%);
				border-radius: 100px;
				&::before {
					content: "";
					position: absolute;
					left: 0;
					display: block;
					width: 47px;
					height: 47px;

					border-radius: 100px;
				}
				&._example::before {
					background: url("../images/icon_examples.svg") no-repeat
							center/15px 23px,
						linear-gradient(to left, #007cf2 0%, #753a92 100%);
				}
				&._capabilities::before {
					background: url("../images/icon_capabilities.svg") no-repeat
							center/23px 23px,
						linear-gradient(to left, #007cf2 0%, #753a92 100%);
				}
				&._limitations::before {
					background: url("../images/icon_limitations.svg") no-repeat
							center/26px 23px,
						linear-gradient(to left, #007cf2 0%, #753a92 100%);
				}
			}
		}

		// .ailife_note_group
		&_group {
			height: 100%;
			margin-top: 20px;
			padding: 25px 15px 25px 25px;
			background-color: rgba(255, 255, 255, 0.1);
			border-radius: 8px;
			color: #7c7b7b;
		}
		// .ailife_note_item
		&_item {
			font-size: 12px;
			line-height: 13px;
			list-style-type: disc;
			& + & {
				margin-top: 15px;
			}
		}
	}

	// .ailife_chatBox
	&_chatBox {
		position: absolute;
		left: 0;
		overflow-y: auto;
		transform: translateX(calc(-100% - 20px));
		transition-delay: 0.5;
		@extend %transition;
		@at-root .--chating & {
			top: 0;
			left: 20px;
			right: 20px;
			display: block;
			height: calc(100% - 80px);
			margin: auto;
			padding-bottom: 50px;
			transform: translateX(0);
			@include mw_xs {
				width: calc(100% - 40px);
			}
		}

		// .ailife_chatBox_item
		&_item {
			width: 100%;
			max-width: 657px;
			margin: auto;
			padding: 20px;
			color: #fff;
			font-size: 14px;

			&:nth-child(even) {
				background: rgba(0, 0, 0, 0.3);
			}
		}
	}
}
//

.loading {
	position: fixed;
	top: 0;
	left: 0;
	@include d_f(flex, center, center);
	width: 100%;
	height: 100%;
	background: radial-gradient(circle at center, #2a2f89, #040000);
	z-index: 2;
	&.--hide {
        opacity: 0;
        transition: .8s
    }
	.loading_pic {
		@include d_f(flex, center, center);
		flex-direction: column;
		margin-right: 16px;
	}
	// .loading_body
	&_body {
		position: relative;
		@include d_f(flex, center, center);
		width: 60px;
		height: 60px;
		animation: loading_body 2s infinite forwards;
		transform-origin: center center;
		transform: rotate(0deg) translate(0px, 0px);
	}
	// .loading_ball
	&_ball {
		position: relative;
		width: 10px;
		margin-bottom: 10px;
		animation: loading_ball 2s infinite forwards;
	}
	// .loading_txt
	&_txt {
		position: relative;
		@include d_f(flex, flex-end);
		width: 135px;
		height: 73px;
		img:nth-child(1) {
			position: absolute;
			animation: loading_txt 2s infinite forwards;
		}
		img:nth-child(2) {
			position: absolute;
			animation: loading_txt1 2s infinite forwards;
		}
	}
}
@keyframes loading_body {
	0% {
		transform: rotate(0);
	}
	33% {
		transform: rotate(120deg) translate(8px, -11px);
	}

	66% {
		transform: rotate(240deg) translate(-7px, -11px);
	}
	99% {
		transform: rotate(360deg) translate(0px, 0px);
	}
	100% {
		transform: rotate(360deg) translate(0px, 0px);
	}
}
@keyframes loading_ball {
	0% {
		transform: translateY(0);
	}
	15% {
		transform: translateY(-15px);
	}
	33% {
		transform: translateY(0);
	}
	45% {
		transform: translateY(-15px);
	}
	66% {
		transform: translateY(0);
	}
	75% {
		transform: translateY(-15px);
	}
	99% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(0);
	}
}
@keyframes loading_txt {
	0% {
		transform: translateY(0);
	}
	15% {
		transform: translateY(-10px);
	}
	30% {
		transform: translateY(0);
	}
	45% {
		transform: translateY(-10px);
	}
	60% {
		transform: translateY(0);
	}
	75% {
		transform: translateY(-10px);
	}
	90% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(0);
	}
}
@keyframes loading_txt1 {
	0% {
		transform: translateY(0);
	}
	15% {
		transform: translateY(0);
	}
	30% {
		transform: translateY(-10px);
	}
	45% {
		transform: translateY(0);
	}
	60% {
		transform: translateY(-10px);
	}
	75% {
		transform: translateY(0);
	}
	90% {
		transform: translateY(-10px);
		transform: translateY(0);
	}
	100% {
		transform: translateY(0);
	}
}
